<%- include('../includes/loggedHeadNav.ejs') %>
    <main>
        <%- include('../includes/foot.ejs') %>
            <%- include('../includes/foot.ejs') %>
                <%- include('../includes/foot.ejs') %>
                    <%- include('../includes/foot.ejs') %>
                        <%- include('../includes/foot.ejs') %>
                            <%- include('../includes/foot.ejs') %>
                                <%- include('../includes/foot.ejs') %>
                                    <%- include('../includes/foot.ejs') %>
                                        <%- include('../includes/foot.ejs') %>
                                            <%- include('../includes/foot.ejs') %>
                                                <%- include('../includes/foot.ejs') %>

    </main>
    <%- include('../includes/foot.ejs') %>